* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://www.universia.net/content/dam/universia/imagenes/2020/12/Fachada-facultad-de-Negocios-.jpg);
    background-size: cover;
    background-position: center;

}

header {

    width: 100%;
    height: 100px;
    text-align: center;
    background-color: rgb(240, 248, 255, 0.4);
    border-radius: 5px;
}

header img {

    margin-right: 60%;

}

.contenedor {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto 30px;
}

.texto {
    max-width: 500px;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.imagenes,
.volatil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenes img {
margin-left: 4px;
margin-bottom: 4px;
    width: 100px;
    border-radius: 5px;
}



h1 {
    font-size: 1.9em;
    color: aliceblue;
}

h2 {
    font-size: 1.2em;
    font-weight: 100px;
    margin: 10px auto;
    max-width: 400px;
    line-height: 1.5em;
color: aliceblue;
}

.formulario {

    margin: 0 auto;
    max-width: 500px;
    width: 50%;
    padding: 0 20px;
}

.form {
    color: white;
    width: 100%;
    min-height: 535px;
    padding: 30px 20px;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 0 auto;
}

h3 {

    font-size: 1em;
    font-weight: 400;
    margin-top: 10px;
}
h4 {

    font-size: 0.8em;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {

    list-style: none;
}

label {
    padding: 10px 0;
    display: block;
}

input[type="text"],
input[type="email"] {

    width: 100%;
    height: 35px;
    border-radius: 5px;
}
input[type="button"]{

background-color: #ff4747;
width: 100%;
height: 50px;
color:aliceblue;
border-radius: 5px;
font-size: 1.5em;
border: none;
margin: 30px 0;
}

